{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="responsive-header-text text-white">Pizza Vegan Community</h1>
            <p class="lead text-white">Vegan pizza at your fingertips&mdash;literally!</p>
        </div>
    </div>
    <div class="container py-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <h2 class="text-success mt-2 mb-4">Welcome, Pizzeria Owners!</h2>
        <p>
            Are you interested in joining a national, cutting-edge vegan pizza promotion? Have a vegan pizza on your
            menu waiting to receive the attention it deserves?
        </p>
        <p>
            We have partnered with Tap The Table to promote your vegan pizza to consumers through Facebook during the
            month of September. Yes, you read that right&mdash;all through Facebook. If you register, consumers will be able
            to purchase your vegan pizza directly from Facebook as you will get to enjoy and experience Tap The Table
            for free!
        </p>
        <p>
            If you'd like to sign up for Tap The Table, click the button below!
        </p>
        <a href="https://m.me/PMQPizzaMag?ref=Sign-Up" class="btn btn-outline-success btn-lg my-3">
            Click here to Sign Up
        </a>
    <hr>
        <p>Don't have a Facebook page available right now? No problem!
            <a href="{% url 'pages:register' %}" class="text-success">Click here to register.</a></p>
    </div>
{% endblock content %}