{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-2 text-white">Pizza Vegan Community</h1>
            <p class="lead text-white">Vegan pizza at your fingertips&mdash;literally!</p>
        </div>
    </div>
    <div class="container">
        <h2>Welcome Pizzeria Owners!</h2>
        <p>
            Are you interested in joining a national, cutting-edge vegan pizza promotion? Have a vegan pizza on your
            menu waiting to receive the attention it deserves?
        </p>
        <p>
            We have partnered with Tap The Table to promote your vegan pizza to consumers through Facebook during the
            month September. You read that right, yes, all through Facebook. If you register, consumers will be able to
            purchase your vegan pizza directly from Facebook as you will get to enjoy and experience Tap The Table for
            free!
        </p>
    </div>
{% endblock content %}