{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} | Register{% endblock title %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 text-white">Sign Up</h1>
            <p class="lead text-white">Stay in the loop and find out more about Tap the Table!</p>
        </div>
    </div>
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-10 col-md-7">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-success btn-lg">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}