{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} | Tap The Table{% endblock title %}

{% block content %}
    <div class="jumbotron jumbotron-fluid jumbotron-bg">
        <div class="container">
            <h1 class="responsive-header-text text-white">Sign Up</h1>
            <p class="jumbotron-lead text-white">Sign up for Tap The Table, or register to find out more!</p>
        </div>
    </div>
    <div class="container pt-3 pb-5">
        <div class="row justify-content-center">
            <div class="col-10 col-md-7">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                <p><strong>If you have a Facebook page</strong> and would like to sign up for Tap The Table,
                    click the button below!</p>
                <a href="https://m.me/PMQPizzaMag?ref=Sign-Up" class="btn btn-outline-success btn-lg btn-block">
                    Click Here to Sign Up
                </a>
                <hr class="my-5">
                <p class="text-muted"><strong>If you do not have a Facebook page right now,</strong> you can still
                sign up to learn more! Please fill out the form below.</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p class="text-small text-muted">
                        In order to participate, you must be a subscriber to PMQ Pizza Magazine. If you are not,
                        please <a href="https://www.pmq.com/Subscribe-PMQ/" class="text-success">click here</a> to fill
                        out the subscription form.
                    </p>
                    <button type="submit" class="btn btn-outline-success btn-lg btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}