{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaVegan{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_head_tags %}{% endblock extra_head_tags %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
        <a class="navbar-brand" href="{% url 'pages:index' %}">
            <img src="{% static 'images/pizzavegan-color-small.png' %}" alt="PizzaVerse Logo" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'pages:index' %}" class="nav-item nav-link mr-3">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'pages:tap_the_table' %}" class="nav-item nav-link mr-3">Register</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.pmq.com" class="nav-item nav-link" target="_blank">PMQ Pizza Magazine</a>
                </li>
                {% if user.is_authenticated %}
{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
{#                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                            Welcome, {{ user.email }}!#}
{#                        </a>#}
{#                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                            <a href="{% url 'account_logout' %}" class="dropdown-item">Log Out</a>#}
{#                        </div>#}
{#                    </li>#}
                {% else %}
{#                    <li class="nav-item">#}
{#                        <a href="{% url 'account_login' %}" class="btn btn-success ml-3">Log In</a>#}
{#                    </li>#}
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                Copyright &copy; <a href="https://www.pmq.com" class="text-success">PMQ Pizza Magazine</a>
            </span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>